<?xml version='1.0' encoding='utf-8'?>
<plugin id="zapplica-plugin-honeywellbcr" version="1.0.1" xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android">
	<name>HoneywellBCR</name>
	<description>read data from Honeywell barcode scanner</description>
	<author>francis.appels@z-application.com</author>
	<keywords>BroadcastReceiver,barcode reader, RFID, Honeywell, Intent</keywords>
	<license>Apache License 2.0</license>
	<js-module name="HoneywellBCR" src="www/HoneywellBCR.js">
		<clobbers target="cordova.plugins.HoneywellBCR" />
	</js-module>
	<platform name="android">
		<config-file parent="/*" target="res/xml/config.xml">
			<feature name="HoneywellBCR">
				<param name="android-package" value="net.zapplica.plugin.honeywellbcr.HoneywellBCR" />
			</feature>
		</config-file>
		<config-file target="AndroidManifest.xml" parent="/manifest">
			<uses-permission android:name="com.honeywell.decode.permission.DECODE" />
		</config-file>
		<source-file src="src/android/net/zapplica/plugin/honeywellbcr/HoneywellBCR.java" target-dir="src/net/zapplica/plugin/honeywellbcr/" />
	</platform>
</plugin>